<p>food-item works!</p>
<div class="abc">
    <pre>Lorem ipsum dolor sit amet,consetetur sadipscing elitr,sed diam nonumy eirmod tempor
         invidunt ut labore et dolore magna.
    </pre>
    <div class="col-md-8"> 

    <div class="card" >
        <img src="../../assets/image/HS1.jpg " class="card-img-top" alt="card image cap">
        <div class="card-body">
          <h5 class="card-title">Ham Sandwich {{price1 | currency:'USD'}}<br></h5>
          <p class="card-text">Lorem ipsum dolor sit amet,consetetur sadipsing elitr 
</p>
          <!-- <a routerLink="laptop" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      <!-- 1 -->
      <div class="card" >
        <img src="../../assets/image/HS2.jpg " class="card-img-top" alt="card image cap">
        <div class="card-body">
          <h5 class="card-title">Ham Sandwich {{price1 | currency:'USD'}}</h5>
          <p class="card-text">Lorem ipsum dolor sit amet,consetetur sadipsing elitr</p>
          <!-- <a routerLink="laptop" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
        <div class="card" >
            <img src="../../assets/image/HS1.jpg " class="card-img-top" alt="card image cap">
            <div class="card-body">
              <h5 class="card-title">Ham Sandwich {{price1 | currency:'USD'}}<br></h5>
              <p class="card-text">Lorem ipsum dolor sit amet,consetetur sadipsing elitr</p>
              <!-- <a routerLink="laptop" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
            <div class="card" >
                <img src="../../assets/image/HS2.jpg" class="card-img-top" alt="card image cap">
                <div class="card-body">
                  <h5 class="card-title">Ham Sandwich  {{price1 | currency:'USD'}}<br></h5>
                  <p class="card-text">Lorem ipsum dolor sit amet,consetetur sadipsing elitr</p>
                  <!-- <a routerLink="laptop" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
                <div class="card" >
                    <img src="../../assets/image/HS1.jpg " class="card-img-top" alt="card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Ham Sandwich  {{price1 | currency:'USD'}}<br></h5>
                      <p class="card-text">Lorem ipsum dolor sit amet,consetetur sadipsing elitr</p>
                      <!-- <a routerLink="laptop" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
                    <div class="card" >
                        <img src="../../assets/image/HS2.jpg " class="card-img-top" alt="card image cap">
                        <div class="card-body">
                          <h5 class="card-title" >Ham Sandwich  {{price1 | currency:'USD'}}<br></h5>
                          <p class="card-text"> Lorem ipsum dolor sit amet,consetetur sadipsing elitr</p>
                          <!-- <a routerLink="laptop" class="btn btn-primary">Go somewhere</a> -->
                        </div>
      </div>
    </div>
</div>