<!-- <p>fashionlist works!</p> -->
<div>  
<div class="card" >
    <img src="../../assets/image/decor1.jpg" class="card-img-top" alt="card image cap">
    <div class="card-body">
      <h5 class="card-title">Home Decore</h5>
      <p class="card-text"> Fake Plants Artificial Home Decorations <b>Rs 1,100</b></p>
      <a routerLink="bags" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" >
    <img src="../../assets/image/decor2.jpg" class="card-img-top" alt="card image cap">
    <div class="card-body">
      <h5 class="card-title">Wall Sticker</h5>
      <p class="card-text"> Cherry Blossom Wall Decal Home Decoration <b>Rs 1'500 </b></p>
      <a routerLink="bags" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" >
    <img src="../../assets/image/decor3.jpg" class="card-img-top" alt="card image cap">
    <div class="card-body">
      <h5 class="card-title">Candles</h5>
      <p class="card-text">Jelly Candle Home Decoration <b>Rs 500 </b></p>
      <a routerLink="bags" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" >
    <img src="../../assets/image/decor4.jpg" class="card-img-top" alt="card image cap">
    <div class="card-body">
      <h5 class="card-title">Wall Hook</h5>
      <p class="card-text"> Bird Wall Hook Home Decoration <b>Rs 850 </b></p>
      <a routerLink="bags" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>



</div>