<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5" style="background-color: transparent;">
            <legend style="text-align: center;">Reactive Form Example</legend>

            <button (click)="onAddUser()" class="btn btn-success">Add User</button>

            <form *ngIf="isShow" (ngSubmit)="onSubmit()" [formGroup]="myReactiveForm">


                <div class="form-group">
                    <label for="name">First Name</label>
                    <input type="text" placeholder="enter first name" name="name" class="form-control"
                        formControlName="name">
                    <small class="text-danger"
                        *ngIf="myReactiveForm.get('name').invalid && myReactiveForm.get('name').touched">Enter
                        first name </small>
                 </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" placeholder="enter last name" name="lname" class="form-control"
                        formControlName="lname">
                    <small class="text-danger"
                        *ngIf="myReactiveForm.get('lname').invalid && myReactiveForm.get('lname').touched">Enter
                        last name </small>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="enter email" name="email"
                        formControlName="email">
                    <small class="text-danger"
                        *ngIf="myReactiveForm.get('email').invalid && myReactiveForm.get('email').touched">Enter
                        valid email</small>

                </div>

                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" placeholder="enter phone number" name="phone"
                        formControlName="phone">
                    <small class="text-danger"
                        *ngIf="myReactiveForm.get('phone').invalid && myReactiveForm.get('phone').touched">Enter valid
                        number</small>

                </div>

                <div class="form-group">
                    <label for="cname">company</label>
                    <input type="text" placeholder="enter Company name" name="cname" class="form-control"
                        formControlName="cname">
                    <small class="text-danger"
                        *ngIf="myReactiveForm.get('cname').invalid && myReactiveForm.get('cname').touched">Enter
                        Company Name </small>
                </div>

                <div class="form-group">
                    <label for="gender">Gender</label><br>
                    <input type="radio" name="gender" value="male" formControlName="gender">Male <br>
                    <input type="radio" name="gender" value="female" formControlName="gender">Female
                    <small class="text-danger"
                        *ngIf="myReactiveForm.get('gender').invalid && myReactiveForm.get('gender').touched">Select
                        gender</small>


                </div>
                <div>
                    <label for="dob">DOB</label>&nbsp;&nbsp;
                    <input type="date" class="form-control" formControlName="dob">
                </div>



                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="enter password" class="form-control"
                        formControlName="password">
                    <small class="text-danger"
                        *ngIf="myReactiveForm.get('password').invalid && myReactiveForm.get('password').touched">Enter
                        password</small>
                   


                </div>
                <div class="form-group">
                    <label for="cPassword">Confirm Password</label>
                    <input type="Password" name="cPassword" placeholder="enter Confirm password" class="form-control"
                        formControlName="cPassword">
                    <small class="text-danger"
                        *ngIf="myReactiveForm.get('cPassword').invalid && myReactiveForm.get('password').touched">Enter
                        password
                        <small class="text-danger"
                            *ngIf="myReactiveForm.get('password').value != myReactiveForm.get('cPassword').value">
                            password Mismatched</small>
                    </small>
                </div>
                <button class="btn btn-secondary mt-4" (click)="onsubmitUser()"> Register</button>&nbsp;
                <button class="btn btn-secondary mt-4" (click)="dataAllClear()"> Cancel</button>
            </form>
        </div>
    </div>
</div>
<table class=" table table-striped">
    <thead class="thead-dark">
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Phone </th>
            <th> company </th>
            <th> DOB </th>
            <th> Edit</th>
            <th> Delete </th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let e of array  let i=index">
            <td>
                <div *ngIf="e.isEdit">
                    <input type="text"[(ngModel)]="e.name"class="form-control"/>
                   </div>
                   <div *ngIf="!e.isEdit"> {{e.name}}</div>
               </td>
            <td>
                <div *ngIf="e.isEdit">
                    <input type="text"[(ngModel)]="e.lname"class="form-control"/>
                   </div>
                   <div *ngIf="!e.isEdit"> {{e.lname}}</div>
               </td>
            <td>
                <div *ngIf="e.isEdit">
                <input type="text"[(ngModel)]="e.email"class="form-control"/>
               </div>
               <div *ngIf="!e.isEdit"> {{e.email}}
                </div>
           </td>
                
            <td>
                <div *ngIf="e.isEdit">
                    <input type="text"[(ngModel)]="e.phone"class="form-control"/>
                   </div>
                   <div *ngIf="!e.isEdit"> {{e.phone}}
                    </div>
                </td>
            <td>
                <div *ngIf="e.isEdit">
                    <input type="text"[(ngModel)]="e.cname"class="form-control"/>
                   </div>
                   <div *ngIf="!e.isEdit"> {{e.cname}}
                    </div>
                </td>
            <td>
                <div *ngIf="e.isEdit">
                    <input type="text"[(ngModel)]="e.dob"class="form-control"/>
                   </div>
                   <div *ngIf="!e.isEdit"> {{e.dob}}
                    </div>
                </td>
            <td><button type="button" class="btn1 btn-secondary btn-lg" (click)="onEdit(e)">Edit</button></td>
            <td><button type="button" class="btn1 btn-secondary btn-lg" (click)="remove(i)">Delete</button></td>

        </tr>
    </tbody>
</table>