<!-- <div> login Form</div>
<div>
    <label>password </label> <input="text">
</div>
<div>
    <label>Re-Enter Password</label><input="text">
</div> -->
<!-- child html -->

 <div class="main">
    <div class="head">@Input Decorator Parent To Child</div>
    <ol> 
        <li>id:-{{childVar.id}}</li>
        <li>Name:-{{childVar.name}}</li>
        <li>department:-{{childVar.department}}</li>
        <li>Salary:-{{childVar.salary}}</li>
        <li>Company:-{{childVar.company}}</li>

</ol>
</div> 