<p>laptop works!</p>


<div class="card" >
    <img src="../../assets/image/laptop1.jpg " class="card-img-top" alt="card image cap">
    <div class="card-body">
      <h5 class="card-title">Laptop</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<!-- <div>
    <img src="../../../assets/image/laptop3.jpg"> -->
    <!-- <p> HP Chromebook MediaTek Kompanio 500 - (4 GB/64 GB EMMC Storage/Chrome OS) 11A-NA0002MU Chromebook</p>
    <p>Features</p>
    <ul>
        <li>MediaTek MediaTek Kompanio 500 Processor
        </li>
        <li>4 GB DDR4 RAM
        </li>
        <li>32 bit Chrome Operating System
        </li>
        <li>29.46 cm (11.6 inch) Touchscreen Display
        </li>


    </ul> -->

<!-- </div> -->
