<!-- <p>reactive-form works!</p> -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
                <h3>Add and Remove Skills</h3>
<!-- form group start -->
                <div formGroupName="userDetails">              

                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" formControlName="username" class="form-control" id="username" 
                        placeholder="Enter user name">
                        <small class="text-danger" *ngIf="!myReactiveForm.get('userDetails.username').valid && myReactiveForm.get('userDetails.username').touched">
                            <small class="text-danger" *ngIf="myReactiveForm.get('userDetails.username').errors['required']">Please enter user name</small>
                            <small class="text-danger" *ngIf="myReactiveForm.get('userDetails.username').errors['namesNotAllowed']"> User name not allowed {{myReactiveForm.get('userDetails.username').value}}</small>
    
                        </small>


                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter email">
                    <small class="text-danger" *ngIf="myReactiveForm.get('userDetails.email').invalid && myReactiveForm.get('userDetails.email').touched">
                    <small class="text-danger" *ngIf="myReactiveForm.get('userDetails.email').errors['emailNotAllowed']"> User name not allowed {{myReactiveForm.get('userDetails.email').value}}</small>

                    </small>

                </div> 
            </div>

            <!-- form group close -->

                <div class="form-group">
                    <label for="course">Select Course</label>
                    <select class="form-control" formControlName="course" id="course" >
                        <option value="Angular">Angular</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                </div>
               

                <div class="form-group">
                    <div *ngFor="let gender of genders" class="custom-control custom-radio">
                     <input type="radio" id="{{gender.id}}" formControlName ="gender" value="{{gender.value}}"  class="custom-control-input">
                     <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
                    </div>
                </div>

                <div class="form-group" formArrayName="skills">
                    <label>Skills</label><br>

                    <ng-container *ngFor="let skill of this.myReactiveForm.get('skills').controls;index as i">
                        <input type="text" class="form-control mt-2" formControlName="{{i}}" placeholder=""> 
                      <button class="btn btn-danger" (click)="removeFormControl(i)">Remove Skills </button><br>
    
                    </ng-container>
                    

                    <ng-container  *ngFor="let skill of this.myReactiveForm.get('skills').controls;index as i">
                        <input type="text" class="form-control mt-2 " formControlName="{{i}}" placeholder="Add Skills">
                    </ng-container>
                    <button class="btn btn-light btn-sm mt-2 btn-add" (click)="OnAddSkills()"><i>+</i>Add Skills</button>

                </div>

                <button class="btn btn-success mt-4">submit</button>

            </form>
        </div>

        <div class="row justify-content-center mt-2" *ngIf="submitted">
            <div  class="col-md-6 rounded shadow py-4">
                <h2>Reactive Form Data</h2>
                <p>User Name : <strong>{{myReactiveForm.get('userDetails.username').value}}</strong></p>
                <p>User Email : <strong>{{myReactiveForm.get('userDetails.email').value}}</strong></p>
                <p>Selected Course : <strong>{{myReactiveForm.get('course').value}}</strong></p>
                <p>Gender : <strong>{{myReactiveForm.get('gender').value}}</strong></p>




            </div>

        </div>
    </div>
</div>