<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="abc">
<div class="booking">
    <button  class="btn btn-success" id="btn1"></button>

    <h1> advance booking</h1>
    <input id="name" name="name" >
    <button  class="btn btn-success">Go</button>
</div>
<div id="select"><label id="date">Date<a><i class="fa-sharp fa-solid fa-caret-down"></i></a></label>
    <label id="time">Time<a><i class="fa-sharp fa-solid fa-caret-down"></i></a></label>
    <label id="guest">Guest</label>

</div>

