 /* .main{
     margin-left: 300px;
    border: 3px solid black;
    height: 123px;
    width: 214px;
    padding-left: 16px;
    border-radius: 15px;
    background-color: rgb(137, 77, 114);
    margin-top: 50px;
}
.n{
    padding-bottom: 5px;
    background-color: black;
    color: white;
    margin-right: 11px;
    
}  

 table{
    background-color: rgb(129, 163, 208);
    border: 5px solid black;
    border-radius:10px;
    
    margin-left: 10px;  
    margin-top: 20px; 
    padding-top: 20px;
      margin-top: 3px;  
    
}
.container{
    
    margin-top: 20px; 
    background-image:url('C:\Users\hp\Desktop\collage.jpg') ;
      height:400px ;
     width:700px ;  
     background-repeat: no-repeat;
    border: 5px solid black;
    border-radius: 10px;  
    width:900px ;
}   */