 <div style="text-align:center">
<!-- <app-ng-fore-courses></app-ng-fore-courses>

  <br>
  <br>
  <app-switch></app-switch>
  
<br>
 -->

<app-attri></app-attri>
 <!-- <app-checkbox></app-checkbox> -->

  <!-- <h1>
    Welcome to {{ title }}!
      <app-demo></app-demo>  -->

     <!-- <app-server></app-server>  -->
  <!-- </h1> -->
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>  

 <!-- <app-server></app-server>
 <app-servers></app-servers>

<router-outlet></router-outlet>  -->
 

<!-- <app-directives></app-directives>

<app-ngswitch></app-ngswitch> --> 
 <!-- <app-binding></app-binding>
 <app-checkbox></app-checkbox> -->
