<!-- <div class="abc">
    <div>
        <div >
            <table class="table table-striped">
                <thead>
                    <th>UserID</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Body</th>

                </thead>
                <tbody>
                    <tr *ngFor="let post of postArry">
                        <td>{{post.userId}}</td>
                        <td> {{post.id}}</td>
                        <td>{{post.title}}</td>
                        <td>{{post.body}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 -->
<!-- ---------------------popup -->

<h4>Please click on the below button open popup</h4> <br>

<button type="button" class="btn btn-primary" (click)="openPopup()">Show Data</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">POPUP-POST API Data   </h4>
           </div> 
            
           <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-left rounded shadow py-5">
                        <table class="table table-bordered">
                            <thead class="head">
                                <tr>
                                    <th>User Id</th>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Body</th>
                              </tr>
                            </thead>
                            
                            <tbody class="body">
                                <tr *ngFor="let post of postArry">
                                    <td>{{post.userId}}</td>
                                    <td>{{post.id}}</td>
                                    <td>{{post.title}}</td>
                                    <td>{{post.body}}</td>
                                </tr>
                           </tbody>
                      </table>
                 </div>
            </div>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
         </div>
        </div>
  </div>
</div>   