
<div  class="main"><h1>*ngswitch Example :</h1>
<div class="contaner">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" (change)="getProductValue($event)">
                <option value="Default">Select Profession</option>
                <option value="UI Developer">UI Developer</option>
                <option value="Tester">Tester</option>
                <option value="Data Engineer">Data Engineer</option>
                <option value="Admin">Admin</option>

            </select>
        </div>
        <div class="col-md-12" [ngSwitch]="selectedProduct">
            <h2 class="text-success" *ngSwitchDefault>Please select Profession</h2>
            <h2 class="text-success" *ngSwitchCase="'UI Developer'">UI Developer</h2>
            <h2 class="text-success" *ngSwitchCase="'Tester'">Tester</h2>
            <h2 class="text-success" *ngSwitchCase="'Data Engineer'">Data Engineer</h2>
            <h2 class="text-success" *ngSwitchCase="'Admin'">Admin</h2>

            
        </div>
    </div>
</div>
</div>