<!-- <p>main-page works!</p> -->
<div>
    <nav class="container">
        <ul class="nav nav-tabs">
    
          <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="dashbord/">Dashbord</a></li>
          <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="employee/">Employee Management</a></li>
          <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="logout/">LogOut</a></li>
        </ul>
    </nav>
</div>

<hr>
<app-login-page></app-login-page>
<app-employee></app-employee>
<app-dashbord></app-dashbord>
<app-logout></app-logout>