<!-- CheckBox -->
<div class="main">

    
<div><h1>*ngFor Example</h1>
    <div>
        <p>{{title}}</p>
    </div>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>CourseName</th>
                <th>Fees</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of course">
                <td>{{course.id}}</td>
                <td>{{course.courseName}}</td>
                <td>{{course.fees}}</td>
                <td>{{course.duration}}</td>

            </tr>
        </tbody>
    </table>
</div>




</div>