<!-- <header>
    <nav  >
      <ul class="nav nav-tabs">
  
        <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="home/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="aboutus/">AboutUs</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="contactus/">ContactUs</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="product/">Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="post/">Post</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="fashion/">Fashion</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="orders">Orders</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="fashions">Decore</a></li>
  
  
      </ul>
    </nav>
  </header>
  
   <app-rapidapi></app-rapidapi> 
   -->